server:
  port: 8080

spring:
  datasource:
    url: jdbc:mariadb://144.122.71.113:8083/group3
    username: group3
    password: TfRerYzuUGw2YLm
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


logging:
  level:
    org.springframework.security: TRACE
